@rendermode InteractiveAuto

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="transactions" Icon="@(new Icons.Regular.Size20.Money())" IconColor="Color.Accent">Transactions</FluentNavLink>
            <FluentNavLink Href="import" Icon="@(new Icons.Regular.Size20.CloudArrowDown())" IconColor="Color.Accent">Import</FluentNavLink>
            <FluentNavGroup Title="Admin" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                <FluentNavLink Href="account" Icon="@(new Icons.Regular.Size20.TabInprivateAccount())">Accounts</FluentNavLink>
                <FluentNavLink Href="category" Icon="@(new Icons.Regular.Size20.LayerDiagonalAdd())">Categories</FluentNavLink>
                <FluentNavLink Href="payee" Icon="@(new Icons.Regular.Size20.Payment())">Payees</FluentNavLink>
                <FluentNavLink Href="payeedetails" Icon="@(new Icons.Regular.Size20.Payment())">Trans Details</FluentNavLink>
            </FluentNavGroup>

        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;

}
