@page "/payeedetails"
<h3>Transaction Merchant Details</h3>
<FluentSwitch @bind-Value=NoPayee Label="No Payee" />
<p>@NoPayee</p>
<FluentDataGrid ShowHover TGridItem="PayeeDetails" Items="AllPayeeDetails" Style="width:36rem" Pagination="@pagination">
    <PropertyColumn Property="@(p => p.Details)" Title="Details" Sortable="true" Width="20rem" />
    <PropertyColumn Property="@(p => p.PayeeName)" Title="Payee" Sortable="true" Width="8rem" />
    <TemplateColumn Width="6rem">
        <FluentButton OnClick="@(() => EditPayee(context))" IconStart="@(new Icons.Regular.Size20.EditLineHorizontal3())" />
        <FluentButton style="--accent-fill-rest: crimson"
                      OnClick="@(() => DeletePayee(context))" IconStart="@(new Icons.Regular.Size20.Delete())" />
    </TemplateColumn>
    @* <TemplateColumn Width="6rem">
        <FluentSelect Items="@AllPayees" TOption="Payee" Height="10rem"
                      @bind-SelectedOption="SelectedMergePayee"
                      OptionText="@(i => i.Name)" />
    </TemplateColumn> *@
</FluentDataGrid>
<FluentPaginator State="@pagination" />
<FluentButton style="margin-top:1.5rem" Appearance="Appearance.Accent" OnClick="LoadData" IconStart="@(new Icons.Regular.Size20.New())">LoadData</FluentButton>

<FluentSelect Items="@AllPayees" TOption="Payee" Height="10rem"
              @bind-SelectedOption="SelectedPayee"
              OptionText="@(i => i.Name)" />
<FluentDataGrid ShowHover TGridItem="TransDetails" Items="AllTransDetails.AsQueryable()" Pagination="@pagination2">
    <PropertyColumn Property="@(p => p.Details)" title="Details" Width="30rem" />
    <PropertyColumn Property="@(p => p.PayeeDetails)" Title="Payee Details" Width="30rem" />
    <PropertyColumn Property="@(p => p.PayeeName)" Title="Payee" Width="30rem" />
    <TemplateColumn Width="6rem">
        <FluentButton OnClick="@(() => EditTransDetails(context))" IconStart="@(new Icons.Regular.Size20.EditLineHorizontal3())" />        
    </TemplateColumn>
</FluentDataGrid>
<FluentPaginator State="@pagination2" />
<hr />
<FluentButton OnClick="MakePayDetails">Make Pay Details</FluentButton>
<div>
    Loading Link: @IsLoadingLink
</div>


@code {
    [CascadingParameter] GlobalMessage MyGlobalMsg { get; set; }
    [Inject] public IUIPayeeService MyPayeeService { get; set; } = null;
    [Inject] public IDialogService MyDialog { get; set; }
    PaginationState pagination = new PaginationState { ItemsPerPage = 15 };
    PaginationState pagination2 = new PaginationState { ItemsPerPage = 15 };

    private IQueryable<PayeeDetails> AllPayeeDetails { get; set; }
    private List<TransDetails> AllTransDetails { get; set; } = new();
    private List<Payee> AllPayees { get; set; } = new();
    private Payee SelectedPayee { get; set; }
    private Payee SelectedMergePayee { get; set; }
    private bool IsLoading = true;
    private bool IsLoadingLink = true;
    private bool _noPayee;
    private bool NoPayee { get => _noPayee; set { _noPayee = value; ReloadPayeeDetails(); } }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetPayeeDetails();
            await GetPayees();
            Task.WaitAll();
            await LinkPayeeDetails();
        }
        catch (Exception ex)
        {
            MyGlobalMsg.ProcessError(ex);
        }
        finally
        {
            IsLoading = false;
        }
    }
    private async Task GetPayeeDetails()
    {
        var payees = await MyPayeeService.GetAllPayeeDetails();
        payees = payees.OrderBy(x => x.Details).ToList();
        if (NoPayee)
        {
            payees = payees.Where(x => x.PayeeId == 0).ToList();
        }
        AllPayeeDetails = payees.AsQueryable();
    }
    private async Task GetPayees()
    {
        var payees = await MyPayeeService.GetAllPayees();
        AllPayees = payees.OrderBy(x => x.Name).ToList();
    }
    private async void ReloadPayeeDetails()
    {
        await GetPayeeDetails();
        await GetPayees();
        Task.WaitAll();
        await LinkPayeeDetails();
        StateHasChanged();
    }
    private async Task LinkPayeeDetails()
    {
        try
        {
            foreach (var details in AllPayeeDetails.Where(x => x.PayeeId != 0).ToList())
            {
                var payee = AllPayees.Find(x => x.Id == details.PayeeId);
                if (payee is not null)
                {
                    details.PayeeName = payee.Name;
                }
            }
        }
        catch (Exception)
        {

            throw;
        }
        finally
        {
            IsLoadingLink = false;
        }

    }

    private async void NewPayee() => ShowPayeeDialog(null);

    private async void EditPayee(PayeeDetails payee) => ShowPayeeDialog(payee);

    private async void DeletePayee(PayeeDetails payee)
    { }

    private async void ShowPayeeDialog(PayeeDetails payee)
    {
        string title = payee is null ? "New Payee Details" : "Edit Payee Details";

        var dialog = await MyDialog.ShowDialogAsync<PayeeDetailsDialog>(payee, new MoneyControl.FluentUi.Builders.DialogParametersBuilder()
                                                                                     .WithTitle(title)
                                                                                     .WithHeight(300)
                                                                                     .Build()
            );

        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            GetPayeeDetails();
            InvokeAsync(StateHasChanged);
        }
    }


    public async void LoadData()
    {
        AllTransDetails.Clear();

        var allTrans = await MyPayeeService.GetAllTransactions(new TransactionParamPayload(0, 0, 
                                                            Constants.DataStartDate, DateOnly.FromDateTime(DateTime.Now))                                                                                 
                                                        );
        var allPayees = await MyPayeeService.GetAllPayees();
        var allDetails = await MyPayeeService.GetAllPayeeDetails();

        foreach (var trans in allTrans)
        {
            if (!AllTransDetails.Any(x => x.Details == trans.Details))
            {
                string payName = allPayees.FirstOrDefault(x => x.Name == trans.Details)?.Name ?? string.Empty;
                string payDetails = allDetails.Find(x => x.Details == trans.Details)?.Details ?? string.Empty;
                AllTransDetails.Add(new TransDetails(trans.Details, payName, payDetails));    
            }

        }
        AllTransDetails = AllTransDetails.OrderBy(x => x.Details).ToList();

    }

    public async void EditTransDetails(TransDetails details)
    {

    }



    private void MakePayDetails()
    {
        List<PayeeDetails> allPayeeDetails = AllPayeeDetails.ToList();

        foreach (var transDetails in AllTransDetails)
        {
            PayeeDetails details = allPayeeDetails.Find(x => x.Details == transDetails.Details);
            if (details is null)
            {
                details = new() { Details = transDetails.Details };
                MyPayeeService.SavePayeeDetails(details);
            }
           
        }
    }

}
