@page "/spending"
@using ApexCharts

<h3>Spending</h3>

<FluentStack Orientation="Microsoft.FluentUI.AspNetCore.Components.Orientation.Horizontal">
    <FluentDatePicker Label="Date From" @bind-Value="SelectedDateFrom" View="CalendarViews.Months" />
    <FluentDatePicker Label="Date To" @bind-Value="SelectedDateTo" View="CalendarViews.Months" />   
    <FluentButton style="margin-top:1.5rem" Appearance="Appearance.Accent" OnClick="ReloadData" IconStart="@(new Icons.Regular.Size20.Search())">Load</FluentButton>
</FluentStack>
<div>
    @TotalTransactions
</div>
<div>@TotalSpending</div>
<FluentTabs @bind-ValueId="@ActiveTabId" Style="max-height:300px">
    <FluentTab Label="Month By Month Pie" Id="tabMonthByMonthPie">
        @foreach (TransactionMonth month in AllTransMonths)
        {
             <ApexChart TItem="CategoryTransSpend" Title="@month.MonthDisplay"  >
                <ApexPointSeries TItem="CategoryTransSpend"
                                 Items="@month.AllCategorySpends"
                                 Name="Spending"
                                 SeriesType="SeriesType.Pie"
                                 XValue="e => e.CatSpendDisplay"
                                 YValue="e => e.TotalDebit"/>
             </ApexChart> 
        }
    </FluentTab>
    <FluentTab Label="Month By Month Bar" Id="tabMonthByMonthBar">
        @foreach (TransactionMonth month in AllTransMonths)
        {
            <ApexChart TItem="CategoryTransSpend" Title="@month.MonthDisplay" @ref="ChartBar" Debug="true">
                <ApexPointSeries TItem="CategoryTransSpend"
                                 Items="@month.AllCategorySpends"
                                 Name="Spending"
                                 SeriesType="SeriesType.Bar"
                                 XValue="e => e.CatSpendDisplay"
                                 YValue="e => e.TotalDebit" />
            </ApexChart>
        }
    </FluentTab>
    <FluentTab Label="Month By Month Data" Id="tabMonthByMonthData">
        @foreach (var month in AllTransMonths)
        {
            <div>@month.MonthDisplay</div>

            @foreach (var catSpend in @month.AllCategorySpends)
            {
                <div>@catSpend.CatName @catSpend.TotalCredit @catSpend.TotalDebit</div>
            }
        }
    </FluentTab>
</FluentTabs>
 
